.altoPrecio{
    color: grey;
    font-size: 18px;
}

.fondoRojo{
    background-color: red;
}

.subrayado{
    text-decoration: underline;
}

.active{
    border: 3px solid yellow;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
input[type=number] {
    -moz-appearance: textfield;
}